{% extends 'base.html.twig' %}

{% block title %}New TennisMatch{% endblock %}

{% block body %}
<div class='backgroundMatchCreate'>

   <div class="createMatchPage">
        <div class="createMatchForm">
            <h1 class="createMatchTitleForm">Créer Match</h1>
            {{ form_start(tennismatchform) }}
            <div class="containerCreationMatchForm">
                    <div class="createMatchItemForm">
                    {{ form_row(tennismatchform.name) }}
                </div>
                    <div class="createMatchDateItemForm">
                    {{ form_row(tennismatchform.eventDate) }}
                </div>
                <div class="createMatchDateItemForm">
                    {{ form_row(tennismatchform.startHour) }}
                </div>
                <div class="createMatchDateItemForm">
                    {{ form_row(tennismatchform.endHour) }}
                </div>
                <div class="createMatchItemForm">
                    {{ form_row(tennismatchform.adress) }}
                </div>
                <div class="createMatchItemForm">
                    {{ form_row(tennismatchform.description) }}
                </div>
                <div class="createMatchSaveItemForm">
                    {{ form_row(tennismatchform.save) }}
                </div>
            </div>
            {{ form_end(tennismatchform) }}
        </div>
</div>
{% endblock %}
