{% extends 'base.html.twig' %}

{% block title %}Nouveau Match • TenCourt{% endblock %}

{% block body %}
<h1 class="createMatchTitleForm">Créer un Match</h1>
<div class='backgroundMatchCreate'>

   <div class="createMatchPage">
        <div class="createMatchForm">
            {{ form_start(tennismatchform) }}
            <div class="containerCreationMatchForm">
                <div class="createMatchItemForm">
                    {{ form_row(tennismatchform.name) }}
                </div>
                <div class="createMatchItemForm">
                    {{ form_row(tennismatchform.level) }}
                </div>
                <div class="createMatchDateItemForm">
                    {{ form_row(tennismatchform.eventDate) }}
                </div>
                <div class="createMatchDateItemForm">
                    {{ form_row(tennismatchform.startHour) }}
                </div>
                <div class="createMatchDateItemForm">
                    {{ form_row(tennismatchform.endHour) }}
                </div>
                <div class="createMatchItemForm">
                    {{ form_row(tennismatchform.adress) }}
                </div>
                <div class="createMatchItemForm">
                    {{ form_row(tennismatchform.description) }}
                </div>
                <div class="createMatchSaveItemForm">
                    <button class="btn">{{ button_label|default('Créer le match') }}</button>
                </div>
            </div>
            {{ form_end(tennismatchform) }}
        </div>
    </div>
</div>
{% endblock %}
