{% extends 'base.html.twig' %}

{% block title %}Recherche de matchs{% endblock %}

{% block body %}
   
   
   <h1>Trouver un match</h1>


    {{ form_start(searchMatchForm) }}
        {{ form_widget(searchMatchForm) }}
    {{ form_end(searchMatchForm) }}

    <table class="table">
        <thead>
            <tr>
                <th>StartHour</th>
                <th>EndHour</th>
                <th>Name</th>
                <th>Adress</th>
                <th>Description</th>
                
            </tr>
        </thead>
        <tbody>
        {% for match in matchs %}
            <tr>
                <td>{{ match.startHour ? match.startHour|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ match.endHour ? match.endHour|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ match.name }}</td>
                <td>{{ match.adress }}</td>
                <td>{{ match.description }}</td>
{#                 <td>
                    <a href="{{ path('tennis_match_show', {'id': tennis_match.id}) }}">show</a>
                    <a href="{{ path('tennis_match_edit', {'id': tennis_match.id}) }}">edit</a>
                </td> #}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 

{% endblock %}