{% extends 'base.html.twig' %}

{% block title %}Recherche de matchs{% endblock %}

{% block body %}
   
    {{ form_start(searchMatchForm) }}
        {{ form_widget(searchMatchForm) }}
    {{ form_end(searchMatchForm) }}


    {# TODO: REMOVE ALL <br> and <b> to do the css #}

    <div class="searchMatchContainer">
        <h2 class='resultSearchMatch'>Résultat de votre Recherche</h2><br>      
        {% for match in matchs %}
            <div class="matchs">
                <p><b>Date:</b> {{ match.eventDate ? match.eventDate|date('d-m-Y') : ''}}</p>
                <p><b>Heure de début:</b> {{ match.startHour ? match.startHour|date('H:i') : '' }}</p>
                <p><b>Heure de fin:</b> {{ match.endHour ? match.endHour|date('H:i') : '' }}</p>
                <p><b>Nom:</b> {{ match.name }}</p>
                <p><b>Addresse:</b> {{ match.adress }}</p>
                <p><b>Description:</b> {{ match.description }}</p><br>
            </div>
        {% endfor %}
    </div>
{% endblock %}