{% extends 'base.html.twig' %}

{% block title %}Recherche de matchs{% endblock %}

{% block body %}
   <div class="backgroundSearchMatchs">
        <div class="containerSearchMatchForm">
        {{ form_start(searchMatchForm) }}
            <div class="containerSearchMatchs">
                <div class="searchFormMatchRow">
                    {{ form_row(searchMatchForm.adress) }}
                </div>
                <div class="searchFormMatchRow">
                    {{ form_row(searchMatchForm.startHour) }}
                </div>
                <div class="searchFormMatchRow">
                    {{ form_row(searchMatchForm.endHour) }}
                </div>
                <div class="searchFormMatchRow">
                    <a>{{ form_row(searchMatchForm.save)}}</a>
                </div>
                <a class="backButtonShowAllUsers" href="{{ path('user_index') }}">Accueil</a>
            </div>
        {{ form_end(searchMatchForm) }}
        </div>


        {# TODO: REMOVE ALL <br> and <b> to do the css #}

        <div class="ContainerSearchMatchResult">
            <h2 class='resultSearch'>Résultat de votre Recherche</h2><br>      
            {% for match in matchs %}
            <div class="containerMatchsResult">
                <div class="containerSearchMatchOrganizerName">
                    <p class="itemMatchOrganizerResult"><span class="titleItemMatchOrganizerResult">Organisateur:</span> {{ match.organizer.pseudo }}</p>
                </div>
                <div class="containerSearchMatchName">
                    <p class="itemMatchResult"><span class="titleItemMatchResult">Nom de l'évènement:</span> {{ match.name }}</p>
                </div>
                <div class="containerSearchMatchDateStart">
                    <p class="itemMatchResult"><span class="titleItemMatchResult">Du:</span> {{ match.startHour ? match.startHour|date('d-m-Y H:i:s') : '' }}</p>
                </div>
                <div class="containerSearchMatchDateEnd">
                    <p class="itemMatchResult"><span class="titleItemMatchResult">Au:</span> {{ match.endHour ? match.endHour|date('d-m-Y H:i:s') : '' }}</p>    
                </div>
                <div class="containerSearchMatchAddress">     
                    <p class="itemMatchResult"><span class="titleItemMatchResult">Lieu:</span> {{ match.adress }}</p>
                </div>
                <div class="containerSearchMatchDescription">  
                    <p class="itemMatchResult"><span class="titleItemMatchResult">Description:</span> {{ match.description }}</p><br>
                </div>
            </div>
            {% else %}
            <p class="resultSearch"> il n'y a pas de résultat pour votre recherche </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}