{% extends 'base.html.twig' %}

{% block title %}Tennis Match - TenCourt{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div id="updateMessageSuccess">
            {{ message }}
        </div>
    {% endfor %}
<div class="backgroundDescriptionContainer">
    <div class="matchDescriptionContainer"> 
        <h1 class="matchTitleTennisMatchShow">{{ tennis_match.name }}</h1>
        <div class="containerDateTennisMatchShow">
            <p class="itemDateTennisMatchShow"><span class="titleItemTennisMatchShow">Date:</span> {{ tennis_match.eventDate ? tennis_match.eventDate|date('d/m/Y') }}</p>
        </div>
        <div class="containerDescriptionDateTennisMatchShow">
            <p class="itemDescriptionTennisMatchShow"><span class="titleItemTennisMatchShow">De</span> {{ tennis_match.startHour ? tennis_match.startHour|date('H:i') : '' }}</p>
            <p class="itemDescriptionTennisMatchShow"><span class="titleItemTennisMatchShow">À</span> {{ tennis_match.endHour ? tennis_match.endHour|date('H:i') : '' }}</p>
        </div>
        <div class="containerAddressTennisMatchShow">
            <p class="itemAddressTennisMatchShow"><span class="titleItemTennisMatchShow">Lieu:</span> {{ tennis_match.adress }}</p>
        </div>
        <div class="containerDescriptionTennisMatchShow">
            <p class="itemDescriptionTennisMatchShow"><span class="titleItemTennisMatchShow">Description</span> {{ tennis_match.description }}</p>
        </div>
    </div>
    <div class="containerButtonTennisMatchShow">
        {% if nbParticipents >= 2 or  app.user == tennis_match.participent%}
            <div class="containerInteractionParticipeMatch">
                <p class="itemInteractionParticipeMatchComplete">Ce match est complet</p>
                <a class="itemInteractionParticipeMatch" href="{{ path('tennis_match_remove', {'id': tennis_match.id}) }}">Annuler participation</a>
            </div>
        {% else %}
            {% if app.user == tennis_match.organizer %}
                <p class="TennisMatchShowMessage">Vous êtes l'organisateur de ce match</p>
                <a href="{{path('tennis_match_delete', {'id': tennis_match.id})}}"><div class="deleteOrganizerButtonTennisMatchShow">{{ include('tennis_match/_delete_form.html.twig') }}</div></a>
            {% else %}
                <a class="participateButtonTennisMatchShow" href="{{ path('tennis_match_add', {'id': tennis_match.id}) }}">Participer</a>
            {% endif %}
        {% endif %}
        <a class="backButtonTennisMatchShow" href="{{ path('search_matches') }}">Retour à la liste</a>
    <div class="blankTennisMatchDetailPage"></div>
    </div>
</div>
{% endblock %}
