{% extends 'base.html.twig' %}

{% block title %}TennisMatch{% endblock %}

{% block body %}
<div class="backgroundDescriptionContainer">
    
        <div class="matchDescriptionContainer"> 
            <h1>{{ tennis_match.name }}</h1>  
                <div class="descriptionRow date">
                    <p>du </p>
                    <p>{{ tennis_match.startHour ? tennis_match.startHour|date('d-m-Y H:i') : '' }}</p>
                </div>
                <div class="descriptionRow date">
                    <p>au </p>
                    <p>{{ tennis_match.endHour ? tennis_match.endHour|date('d-m-Y H:i') : '' }}</p>
                </div>
                <div class="descriptionRow">
                    <p>Lieu: </p>
                    <p>{{ tennis_match.adress }}</p>
                </div>
                <div class="descriptionRow">
                    <p>Description</p>
                    <p>{{ tennis_match.description }}</p>
                </div>
        </div>
    <div class="button">
        <a class="back" href="{{ path('search_matchs') }}">retour à la liste</a>
        <a class="participate" href="{{ path('tennis_match_edit', {'id': tennis_match.id}) }}">participer</a>
    </div>

   
</div>
{{ include('tennis_match/_delete_form.html.twig') }}
{% endblock %}
