{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
    <div class="backgroundSearchUsers">
        {{ form_start(searchForm) }}
            <div class="col">
                <div class="row">
                    {{ form_row(searchForm.level, ) }}
                </div>
                <div class="row">
                    {{ form_row(searchForm.sex, { 'attr': {'class': 'xxx'} }) }}
                </div>
                <button>Rechercher</button>
            </div>
        {{ form_end(searchForm) }}

        <div class='searchcontainer'>
            <h2 class='resultSearch'>Résultat de votre Recherche</h2> 
                {% for user in users %}
                    <div class='players'>
                        <img class='playerPhoto' src="https://picsum.photos/100" alt="avatar">
                            <div class="container_1_players">
                                <p class='playerItem playerPseudo'>{{user.pseudo}}</p>
                                <p class='playerItem playerSex'>{{user.sex}}</p>
                                <p class='playerItem playerAge'>{{user.age}}ans</p>
                                <p class='playerItem playerLevel'>{{user.level}}</p>
                            </div>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
