<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>


{% block body %}

{% endblock %}

{% block navbar %}
    <nav class="containerNavbar">
        <ul class="navbar">
            <li class="addAnnounce"><img class="logoNavBar" src="{{ asset('build/images/navbar/add.png') }}"></li>
            <a href="{{ path('search_users') }}"><li class="search"><img class="logoNavBar" src="{{ asset('build/images/navbar/search.png') }}"></li></a>
            <li class="location"><img class="logoNavBar" src="{{ asset('build/images/navbar/location.png') }}"></li>
            <li class="userDirection"><img class="logoNavBar" src="{{ asset('build/images/navbar/profile.png') }}"></li>
        </ul>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
