{% extends 'base.html.twig' %}

{% block title %}Menu - Utilisateurs{% endblock %}

{% block body %}
<div class='containerSearch'>
    <h2 class='searchTitleUsers'>Résultat Recherche : </h2>
    <p>Sélectionnez un profil :</p>   
    {% for user in users %}
        <a class="containerPlayers" href="{{ path('user_show', {id: user.id}) }}">
            <div class='players'>
                <div class='playerImage'><img class='playerPhoto' src="https://via.placeholder.com/80/FF0000/808080" alt="avatar"></div>
                <div class='playerPseudo'>{{user.pseudo}}</div>
                <div class='playerSex'>{{user.sex}}</div>
                <div class='playerLevel'>{{user.level}}</div>
                <div class='playerDate'></div>
            </div>
        </a>
    {% endfor %}
        <a href="{{ path('user_new') }}">
            Ajouter un joueur
        </a>  
</div>
{% endblock %}
