{% extends 'base.html.twig' %}

{% block title %}Menu - Utilisateurs{% endblock %}

{% block body %}
<div class='containerSearch'>
    <div class="backgroundAllUsers">
        <h2 class='searchTitleUsers'>Trouver un adversaire: </h2>
        {% for user in users %}
            <a class="containerPlayers" href="{{ path('user_show', {id: user.id}) }}">
                <div class='players'>
                    <img class='playerPhoto' src="https://picsum.photos/100" alt="avatar">
                    <div class="container_1_players">
                        <p class='playerItem playerPseudo'>{{user.pseudo}}</p>
                        <p class='playerItem playerSex'>{{user.sex}}</p>
                        <p class='playerItem playerAge'>{{user.age}}ans</p>
                        <p class='playerItem playerLevel'>{{user.level}}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
        <div class="blank"></div>
        <a href="{{ path('user_new') }}">
            Ajouter un joueur
        </a>
    </div>
</div>
{% endblock %}
