{% extends 'base.html.twig' %}

{% block title %}Menu - Utilisateurs{% endblock %}

{% block body %}
<div class='containerSearch'>
    <div class="backgroundAllUsers">
        <h2 class='searchTitleUsers'>Trouver un adversaire: </h2>
        {% for user in users %}
            <a class="containerPlayers" href="{{ path('user_show', {id: user.id}) }}">
                <div class='players'>
                    <img class='playerPhoto' src="https://picsum.photos/100" alt="avatar">
                    <div class="container_1_players">
                        <p class='playerItem playerPseudo'>{{user.pseudo}}</p>
                        <p class='playerItem playerSex'>{{user.sex}}</p>
{#                         <p class='playerItem playerAge'>{{user.age}}ans</p> #}
                        <p class='playerItem playerLevel'>{{user.level}}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
        <div class="blank"></div>
{#         <a href="{{ path('user_new') }}">
            Ajouter un joueur
        </a> #}
    </div>
</div>
{% endblock %}



















{# {% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Pseudo</th>
                <th>Sex</th>
                <th>Level</th>
                <th>Address</th>
                <th>Postalcode</th>
                <th>City</th>
                <th>Description</th>
                <th>Phone</th>
                <th>Birthdate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.sex }}</td>
                <td>{{ user.level }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.postalcode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.description }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.birthdate ? user.birthdate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %} #}
