{# THIS PAGE IS ABSOLITE FOR NOW #}


{# {% extends 'base.html.twig' %}

{% block body %}
    <div class='containerEdit'>
    <h2>Inserer Profil :</h2>
    {{ form_start(form) }}
        <div class='widget'>
        {{ form_widget(form) }}
        <div> Upload Image </div>
        </div>
        <img class="addUser" src="/build/images/add-user.png">
    {{ form_end(form) }}
    </div>
{% endblock %}
 #}
{# {% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}
 #}