{% extends 'base.html.twig' %}

{% block title %}Participations • Tencourt{% endblock %}

{% block body %}
    <h1 class="myMatchesTitle">Mes participations</h1>
    <div class="containerMyMatchesBackground">
        <div class='myBlockListMatches'>
            <p class="CountParticipationMatchMessage">Nombre de participation(s): <span class="CountPariticipationMatchMessageAdd">{{ participationsMatches|length }}</span></p>
            {% for participation in participationsMatches|sort|reverse %}
                <a class="containerMatchlisting" href="{{ path('tennis_match_show', { 'id' : participation.id }) }}">
                    <div class="{{app.user.id != participation.organizer.id ? "matchListing" : "matchListingOwn"}}">
                        <p class="{{app.user.id != participation.organizer.id ? "matchListingTitleMatch" : "matchListingTitleMatchOwn"}}">{{ participation.name }}</p>
                        <p class="matchListingDateMatch">Le {{participation.eventDate|date("d/m/Y")}}  à {{participation.startHour|date("H")}}H{{participation.startHour|date("i")}}</p>
                        {% if app.user.id == participation.organizer.id %}
                            <p class="matchListingMessageOwner">Vous êtes l'organisateur de ce match</p>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
            <a class="backButtonParticipationMatchProfile" href="{{ path('user_profile', {'slug': user.slug}) }}">Retour</a>
        </div>
    <div class="blankMyProfileShowMatchPage"></div>
{% endblock %}