{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="backgroundShowUser">
        <div class="containerUserProfileShow">
            <img class="userPictureProfileShow"src="https://picsum.photos/100"/>
            <p class="userPseudoShow">{{ user.pseudo }}</p>
            <div class="userDescriptionShow">
                <p>{{user.description}}</p>
            </div>
            <div class="userInformationShow">
                <p class="userInformationItem userAgeShow">{{user.age ~ ' ans'}}</p>
                <p class="userInformationItem userLocalisationShow">{{user.city}}</p>
                <p class="userInformationItem userLevelShow">{{user.level}}</p>
            </div>
        </div>
        <div class="userContactShow">
            <div class="userContactPhone">Numéro de telephone:</div>
            <div class="userPhoneShow">{{user.phone}}</div>

            <div class="userContactMail">Adresse Mail:</div>
            <div class="userEmailShow">{{user.email}}</div>

            <div class="userContactAddress">Adresse:</div>
            <div class="userAddressShow">{{user.address ~ ' ' ~ user.postalcode ~ ' ' ~ user.city}}</div>
        </div>
    </div>
{% endblock %}