{% extends 'base.html.twig' %}

{% block title %}Mes Matches • Tencourt{% endblock %}

{% block body %}
    <div class="containerMyMatchesBackground">
        {% for message in app.flashes('success') %}
                <div id="updateMessageSuccess" >
                    <p class="successModifiedMessage">{{ message }}</p>
                </div>
                <script language='javascript'>
                    temp=document.getElementById('updateMessageSuccess');
                    setTimeout('temp.style.display="none"',3000);
                </script>
        {% endfor %}
        <h1 class="myMatchesTitle">Mes matches</h1>
        <div class='myBlockListMatches'>
        <p class="CountCreationMatchMessage">Nombre de match(es) créé(s): <span class="CountCreationMatchMessageAdd">{{ matches|length }}</span></p>
            {% for match in matches|sort|reverse %}
                <a  class="containerMatchlisting" href="{{ path('tennis_match_show', { 'id' : match.id }) }}">
                    <div class="matchListingOwn">
                        <p class="matchListingTitleMatchOwn">{{ match.name }}</p>
                        <p class="matchListingDateMatch">Le {{match.eventDate|date("d/m/Y")}}  à {{match.startHour|date("H")}}H{{match.startHour|date("i")}}</p>
                    </div>
                </a>
            {% endfor %}
            <a class="backButtonShowMatchProfile" href="{{ path('user_profile', {'slug': user.slug}) }}">Retour</a>
        <div>
    </div>
    <div class="blankMyProfileShowMatchPage"></div>
{% endblock %}